html, body {
  height: 100%;
  width: auto;
}

a {
  color: #00B7FF;
}

.custom-view {
	font-size: 1.2em;
	height: 4em;
	border: 1px solid lightgrey;
	padding: 1.3em 1em 1em 1em;
}

.custom-field {
	border-right: 1px solid black;
	overflow:hidden;
    text-overflow:ellipsis;
}